<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba3t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,121}}</string>
                <key>sourceSize</key>
                <string>{67,121}</string>
            </dict>
            <key>ba3t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{77,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,142}}</string>
                <key>sourceSize</key>
                <string>{77,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossAng3Throw.png</string>
            <key>size</key>
            <string>{215,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f025b7e0258dc87ba6589181b3a33e1c:1ebacd22f675118b1b5d628bcde6e4c6:1a0432bd506c09ffdbf944884ae90511$</string>
            <key>textureFileName</key>
            <string>BossAng3Throw.png</string>
        </dict>
    </dict>
</plist>
