<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba3i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{73,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,121}}</string>
                <key>sourceSize</key>
                <string>{73,121}</string>
            </dict>
            <key>ba3i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{73,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossAng3Idle.png</string>
            <key>size</key>
            <string>{77,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a278d799c70c45ae770f164eddbaa04:9cd74f25047982d6e37934d5ef237cf1:07a8d1255a02397a63bc763ffdc98963$</string>
            <key>textureFileName</key>
            <string>BossAng3Idle.png</string>
        </dict>
    </dict>
</plist>
