<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba2t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{67,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,126}}</string>
                <key>sourceSize</key>
                <string>{67,126}</string>
            </dict>
            <key>ba2t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,142}}</string>
                <key>sourceSize</key>
                <string>{77,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossAng2Throw.png</string>
            <key>size</key>
            <string>{81,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7f76b1b5da0451069141decee00fe7:1b8ce08996f28b8865f48e1f655262b3:4f9db2a885218d4d77407132684317c3$</string>
            <key>textureFileName</key>
            <string>BossAng2Throw.png</string>
        </dict>
    </dict>
</plist>
