<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bni1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{73,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,121}}</string>
                <key>sourceSize</key>
                <string>{73,121}</string>
            </dict>
            <key>bni2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{73,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossNormIdle.png</string>
            <key>size</key>
            <string>{77,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b8ffd87030241502e5bff0af946ae83:6945353abbe8218ba464b405c191e30b:41efeae4891e26667c4e4a0f03e35cac$</string>
            <key>textureFileName</key>
            <string>BossNormIdle.png</string>
        </dict>
    </dict>
</plist>
